%p#notice= notice

%p
  %b Account:
  = @account_contact.account_id
%p
  %b Contact:
  = @account_contact.contact_id

= link_to 'Edit', edit_account_contact_path(@account_contact)
\|
= link_to 'Back', account_contacts_path
