= simple_form_for @contact_datum, :url => @contact_datum.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :contactable_id, :label => 'Contactable'
  = form.input :contactable_type, :label => 'Contactable Type'
  = form.input :do_not_call, :label => 'Do Not Call'
  = form.input :preferred_contact, :label => 'Preferred Contact'
  = form.input :phone, :label => 'Phone'
  = form.input :fax, :label => 'Fax'
  = form.input :email, :label => 'Email'
  = form.input :website, :label => 'Website'
  = form.input :blog, :label => 'Blog'
  = form.input :linked_in, :label => 'Linked In'
  = form.input :facebook, :label => 'Facebook'
  = form.input :twitter, :label => 'Twitter'
  = form.input :skype, :label => 'Skype'

  .actions
    = form.button :submit