%h1 Listing contact_data

%table
  %tr
    %th Contactable
    %th Contactable type
    %th Do not call
    %th Preferred contact
    %th Phone
    %th Fax
    %th Email
    %th Website
    %th Blog
    %th Linked in
    %th Facebook
    %th Twitter
    %th Skype
    %th
    %th
    %th

  - @contact_data.each do |contact_datum|
    %tr
      %td= contact_datum.contactable_id
      %td= contact_datum.contactable_type
      %td= contact_datum.do_not_call
      %td= contact_datum.preferred_contact
      %td= contact_datum.phone
      %td= contact_datum.fax
      %td= contact_datum.email
      %td= contact_datum.website
      %td= contact_datum.blog
      %td= contact_datum.linked_in
      %td= contact_datum.facebook
      %td= contact_datum.twitter
      %td= contact_datum.skype
      %td= link_to 'Show', contact_datum
      %td= link_to 'Edit', edit_contact_datum_path(contact_datum)
      %td= link_to 'Destroy', contact_datum, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contact datum', new_contact_datum_path
