%p#notice= notice

%p
  %b Contactable:
  = @contact_datum.contactable_id
%p
  %b Contactable type:
  = @contact_datum.contactable_type
%p
  %b Do not call:
  = @contact_datum.do_not_call
%p
  %b Preferred contact:
  = @contact_datum.preferred_contact
%p
  %b Phone:
  = @contact_datum.phone
%p
  %b Fax:
  = @contact_datum.fax
%p
  %b Email:
  = @contact_datum.email
%p
  %b Website:
  = @contact_datum.website
%p
  %b Blog:
  = @contact_datum.blog
%p
  %b Linked in:
  = @contact_datum.linked_in
%p
  %b Facebook:
  = @contact_datum.facebook
%p
  %b Twitter:
  = @contact_datum.twitter
%p
  %b Skype:
  = @contact_datum.skype

= link_to 'Edit', edit_contact_datum_path(@contact_datum)
\|
= link_to 'Back', contact_data_path
