%h1 Listing tasks

%table
  %tr
    %th User
    %th Assigned to
    %th Completed by
    %th Name
    %th Taskable
    %th Taskable type
    %th Task priority
    %th Task due
    %th Task category
    %th Due at
    %th Completed at
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.user_id
      %td= task.assigned_to
      %td= task.completed_by
      %td= task.name
      %td= task.taskable_id
      %td= task.taskable_type
      %td= task.task_priority_id
      %td= task.task_due_id
      %td= task.task_category_id
      %td= task.due_at
      %td= task.completed_at
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Task', new_task_path
