%h1 Listing leads

%table
  %tr
    %th User
    %th Campaign
    %th Assigned to
    %th First name
    %th Last name
    %th Description
    %th Access
    %th Title
    %th Department
    %th Status
    %th Source
    %th Referred by
    %th Rating
    %th
    %th
    %th

  - @leads.each do |lead|
    %tr
      %td= lead.user_id
      %td= lead.campaign_id
      %td= lead.assigned_to
      %td= lead.first_name
      %td= lead.last_name
      %td= lead.description
      %td= lead.access
      %td= lead.title
      %td= lead.department
      %td= lead.status
      %td= lead.source
      %td= lead.referred_by
      %td= lead.rating
      %td= link_to 'Show', lead
      %td= link_to 'Edit', edit_lead_path(lead)
      %td= link_to 'Destroy', lead, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Lead', new_lead_path
