%p#notice= notice

%p
  %b User:
  = @lead.user_id
%p
  %b Campaign:
  = @lead.campaign_id
%p
  %b Assigned to:
  = @lead.assigned_to
%p
  %b First name:
  = @lead.first_name
%p
  %b Last name:
  = @lead.last_name
%p
  %b Description:
  = @lead.description
%p
  %b Access:
  = @lead.access
%p
  %b Title:
  = @lead.title
%p
  %b Department:
  = @lead.department
%p
  %b Status:
  = @lead.status
%p
  %b Source:
  = @lead.source
%p
  %b Referred by:
  = @lead.referred_by
%p
  %b Rating:
  = @lead.rating

= link_to 'Edit', edit_lead_path(@lead)
\|
= link_to 'Back', leads_path
