= simple_form_for @contact, :url => @contact.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :user_id, :label => 'User'
  = form.input :lead_id, :label => 'Lead'
  = form.input :assigned_to, :label => 'Assigned To'
  = form.input :reports_to, :label => 'Reports To'
  = form.input :first_name, :label => 'First Name'
  = form.input :last_name, :label => 'Last Name'
  = form.input :description, :label => 'Description'
  = form.input :access, :label => 'Access'
  = form.input :title, :label => 'Title'
  = form.input :department, :label => 'Department'
  = form.input :source, :label => 'Source'
  = form.input :born_on, :label => 'Born On'

  .actions
    = form.button :submit