%h1 Listing contacts

%table
  %tr
    %th User
    %th Lead
    %th Assigned to
    %th Reports to
    %th First name
    %th Last name
    %th Description
    %th Access
    %th Title
    %th Department
    %th Source
    %th Born on
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.user_id
      %td= contact.lead_id
      %td= contact.assigned_to
      %td= contact.reports_to
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.description
      %td= contact.access
      %td= contact.title
      %td= contact.department
      %td= contact.source
      %td= contact.born_on
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Contact', new_contact_path
