= simple_form_for @address, :url => @address.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :street_1, :label => 'Street 1'
  = form.input :street_2, :label => 'Street 2'
  = form.input :city, :label => 'City'
  = form.input :state, :label => 'State'
  = form.input :zipcode, :label => 'Zipcode'
  = form.input :country, :label => 'Country'
  = form.input :full_address, :label => 'Full Address'
  = form.input :address_type, :label => 'Address Type'
  = form.input :addressable_id, :label => 'Addressable'
  = form.input :addressable_type, :label => 'Addressable Type'

  .actions
    = form.button :submit