%h1 Listing addresses

%table
  %tr
    %th Street 1
    %th Street 2
    %th City
    %th State
    %th Zipcode
    %th Country
    %th Full address
    %th Address type
    %th Addressable
    %th Addressable type
    %th
    %th
    %th

  - @addresses.each do |address|
    %tr
      %td= address.street_1
      %td= address.street_2
      %td= address.city
      %td= address.state
      %td= address.zipcode
      %td= address.country
      %td= address.full_address
      %td= address.address_type
      %td= address.addressable_id
      %td= address.addressable_type
      %td= link_to 'Show', address
      %td= link_to 'Edit', edit_address_path(address)
      %td= link_to 'Destroy', address, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Address', new_address_path
