%p#notice= notice

%p
  %b Street 1:
  = @address.street_1
%p
  %b Street 2:
  = @address.street_2
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Zipcode:
  = @address.zipcode
%p
  %b Country:
  = @address.country
%p
  %b Full address:
  = @address.full_address
%p
  %b Address type:
  = @address.address_type
%p
  %b Addressable:
  = @address.addressable_id
%p
  %b Addressable type:
  = @address.addressable_type

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
