= simple_form_for @opportunity, :url => @opportunity.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :user_id, :label => 'User'
  = form.input :campaign_id, :label => 'Campaign'
  = form.input :account_id, :label => 'Account'
  = form.input :contact_id, :label => 'Contact'
  = form.input :assigned_to, :label => 'Assigned To'
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'
  = form.input :access, :label => 'Access'
  = form.input :source, :label => 'Source'
  = form.input :stage, :label => 'Stage'
  = form.input :probability, :label => 'Probability'
  = form.input :amount, :label => 'Amount'
  = form.input :discount, :label => 'Discount'
  = form.input :closes_on, :label => 'Closes On'

  .actions
    = form.button :submit