%h1 Listing opportunities

%table
  %tr
    %th User
    %th Campaign
    %th Account
    %th Contact
    %th Assigned to
    %th Name
    %th Description
    %th Access
    %th Source
    %th Stage
    %th Probability
    %th Amount
    %th Discount
    %th Closes on
    %th
    %th
    %th

  - @opportunities.each do |opportunity|
    %tr
      %td= opportunity.user_id
      %td= opportunity.campaign_id
      %td= opportunity.account_id
      %td= opportunity.contact_id
      %td= opportunity.assigned_to
      %td= opportunity.name
      %td= opportunity.description
      %td= opportunity.access
      %td= opportunity.source
      %td= opportunity.stage
      %td= opportunity.probability
      %td= opportunity.amount
      %td= opportunity.discount
      %td= opportunity.closes_on
      %td= link_to 'Show', opportunity
      %td= link_to 'Edit', edit_opportunity_path(opportunity)
      %td= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Opportunity', new_opportunity_path
