%p#notice= notice

%p
  %b User:
  = @opportunity.user_id
%p
  %b Campaign:
  = @opportunity.campaign_id
%p
  %b Account:
  = @opportunity.account_id
%p
  %b Contact:
  = @opportunity.contact_id
%p
  %b Assigned to:
  = @opportunity.assigned_to
%p
  %b Name:
  = @opportunity.name
%p
  %b Description:
  = @opportunity.description
%p
  %b Access:
  = @opportunity.access
%p
  %b Source:
  = @opportunity.source
%p
  %b Stage:
  = @opportunity.stage
%p
  %b Probability:
  = @opportunity.probability
%p
  %b Amount:
  = @opportunity.amount
%p
  %b Discount:
  = @opportunity.discount
%p
  %b Closes on:
  = @opportunity.closes_on

= link_to 'Edit', edit_opportunity_path(@opportunity)
\|
= link_to 'Back', opportunities_path
