= simple_form_for @campaign, :url => @campaign.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :user_id, :label => 'User'
  = form.input :assigned_to, :label => 'Assigned To'
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'
  = form.input :objectives, :label => 'Objectives'
  = form.input :access, :label => 'Access'
  = form.input :status, :label => 'Status'
  = form.input :target_leads, :label => 'Target Leads'
  = form.input :target_conversion, :label => 'Target Conversion'
  = form.input :budget, :label => 'Budget'
  = form.input :revenue, :label => 'Revenue'

  .actions
    = form.button :submit