= simple_form_for @email, :url => @email.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :imap_message_id, :label => 'Imap Message'
  = form.input :user_id, :label => 'User'
  = form.input :emailable_id, :label => 'Emailable'
  = form.input :emailable_type, :label => 'Emailable Type'
  = form.input :sent_from, :label => 'Sent From'
  = form.input :sent_to, :label => 'Sent To'
  = form.input :cc, :label => 'Cc'
  = form.input :subject, :label => 'Subject'
  = form.input :body, :label => 'Body'
  = form.input :sent_at, :label => 'Sent At'
  = form.input :received_at, :label => 'Received At'

  .actions
    = form.button :submit