%p#notice= notice

%p
  %b Imap message:
  = @email.imap_message_id
%p
  %b User:
  = @email.user_id
%p
  %b Emailable:
  = @email.emailable_id
%p
  %b Emailable type:
  = @email.emailable_type
%p
  %b Sent from:
  = @email.sent_from
%p
  %b Sent to:
  = @email.sent_to
%p
  %b Cc:
  = @email.cc
%p
  %b Subject:
  = @email.subject
%p
  %b Body:
  = @email.body
%p
  %b Sent at:
  = @email.sent_at
%p
  %b Received at:
  = @email.received_at

= link_to 'Edit', edit_email_path(@email)
\|
= link_to 'Back', emails_path
