= simple_form_for @activity, :url => @activity.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :user_id, :label => 'User'
  = form.input :actable_id, :label => 'Actable'
  = form.input :actable_type, :label => 'Actable Type'
  = form.input :action, :label => 'Action'
  = form.input :info, :label => 'Info'
  = form.input :private, :label => 'Private'

  .actions
    = form.button :submit