%h1 Listing activities

%table
  %tr
    %th User
    %th Actable
    %th Actable type
    %th Action
    %th Info
    %th Private
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.user_id
      %td= activity.actable_id
      %td= activity.actable_type
      %td= activity.action
      %td= activity.info
      %td= activity.private
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Activity', new_activity_path
