%p#notice= notice

%p
  %b User:
  = @activity.user_id
%p
  %b Actable:
  = @activity.actable_id
%p
  %b Actable type:
  = @activity.actable_type
%p
  %b Action:
  = @activity.action
%p
  %b Info:
  = @activity.info
%p
  %b Private:
  = @activity.private

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
