= simple_form_for @account, :url => @account.new_record? ? collection_path : resource_path do |form|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @project}

  = form.input :user_id, :label => 'User'
  = form.input :assigned_to, :label => 'Assigned To'
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'
  = form.input :access, :label => 'Access'

  .actions
    = form.button :submit