%p#notice= notice

%p
  %b User:
  = @account.user_id
%p
  %b Assigned to:
  = @account.assigned_to
%p
  %b Name:
  = @account.name
%p
  %b Description:
  = @account.description
%p
  %b Access:
  = @account.access

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
